<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/css/selectize.bootstrap3.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/css/selectize.default.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">iBudget</a>
            <ul class="nav navbar-nav navbar-right">
                {{#if isLoggedIn}}

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle profile" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <img class="profile-pic" src="{{user.getProfilePictureSrc}}"> <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Signed in as: {{user.username}}</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/user/dashboard"><i class="fa fa-tachometer"></i> Dashboard</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Add</li>
                            <li><a href="/user/transaction"><i class="fa fa-exchange"></i> Transaction</a></li>
                            <li><a href="/user/budget"><i class="fa fa-usd"></i> Budget</a></li>
                            <li><a href="/user/account"><i class="fa fa-user"></i> Account</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/signout"><i class="fa fa-sign-out"></i> Sign Out</a></li>
                        </ul>
                    </li>

                {{else}}

                    <li class="icon">
                        <a href="/signin" title="Sign In"><i class="fa fa-sign-in fa-stack-2x"></i></a>
                    </li>

                {{/if}}
            </ul>

        </div>
    </nav>

    <div class="container main">
        <div class="row">

            {{#if success}}
                <div class="alert alert-success alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    {{{success}}}
                </div>
            {{/if}}

            {{#if errors}}
                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    {{{errors}}}
                </div>
            {{/if}}

            {{#if info}}
                <div class="alert alert-info alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    {{{info}}}
                </div>
            {{/if}}

            {{{body}}}

        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <!-- selectizeJs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/js/standalone/selectize.min.js"></script>
    <script src="/javascripts/app.js"></script>
</body>

</html>
